data/test_set_full.npz
data/test_set_report.npz
data/full_data.npz
models/unet_emulator_report_version.pth
models/unet_emulator_full.pth
find_middle.ipynb
data_processing.py
data_scaling.ipynb
test.ipynb
sample_dataset.ipynb